body {
	font-family: arial , sans-serif;
	margin: 0;
	width: auto;
	height: auto;
}
header{

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

a {
	text-decoration: none;
}
header div{
	display: flex;
	flex-direction: column;
	align-items: : center;
}
.btn_blue{
  background: #4887ef; 
  margin-right: 25px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px; 
  font-weight: bold;
  color: white;
}
.one{
	display: flex;
	flex-direction: row;
	height: 45px;	
}

.navbtn{

	margin: 15px;
}
.google{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top:200px;
	margin-bottom: 400px; 
}

footer{
	display: flex;
	flex-direction: column;
	background-color:#F2F2F2;
	border-top: 1.5px solid;
	border-color: #E4E4E4;
	line-height: 40px;
	bottom: 0;
}

.stage{
	padding-left: 19px;
	height: 30px;
	border-bottom: 1.5px solid;
	border-color: #E4E4E4;
}
.bottom{
	display: flex;
	justify-content: space-between;
	height: 30px;

}
.left{
	display: flex;
	justify-content: space-around;
	width: 300px;

	
}

.right{
	display: flex;
	justify-content: space-around;
	width: 500px;
	
}

#cherche {

	display: flex;
	border: solid;
	border-width: 0.8px;
	border-color: #c2c2c2;
	max-width: 585px;
	box-shadow: 3px 3px 10px #DADADA;
}

.boutton 
{
	display: flex;
	padding-top: 30px;
}
#cherche input {
	padding-top: 15px;
	width: 500px;
	border: none;
	padding: 10px;
	font-size: 1.05em;


}

